apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://synks-prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: '15s'
